<br><br>
<div class="mat-elevation-z8">
    <!-- Contenedor para el botón Crear Tarea -->
    <div class="table-header">
      <button mat-raised-button (click)="openCreateTaskDialog(false)">
        <mat-icon>add</mat-icon> Crear tarea
      </button>
    </div>
  
    <table mat-table [dataSource]="dataSource" matSort class="custom-table">
      <!-- Columnas de la tabla -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
  
      <ng-container matColumnDef="Título">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
      </ng-container>
  
      <ng-container matColumnDef="Descripción">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>
  
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{ element.dateCreated }} </td>
      </ng-container>
  
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.status" (click)="UpdateTaskCheck(element)">
              </mat-checkbox>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Acción">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openCreateTaskDialog(true, element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteItem(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
  